@media screen and (max-width:1200px) {
    .container {
        width: 992px;
        padding: 0 15px;
        margin: 0 auto;
    }




    .header__all__logo {
        margin-left: 0;
    }







    .main__content__logo img:first-child {
        width: 69px;
        height: 41px;
    }

    .main__content__logo img:last-child {
        width: 42px;
        height: 41px;
    }

    .main__content__title {
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        width: 454px;
    }
    
    .main__content__separator {
        width: 115px;
    }

    .main__content__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .main__content__btn {
        padding: 15px 50px;
    }

    .form {
        width: 398px;
        height: 450px; 
    }







    .media__content__text__title {
        font-size: 18px;
        line-height: 25px;
        width: 402px;
    }

    .media__content__text__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 402px;
    }


    .media__content__icons {
        gap: 32px;
    }

    .media__content__icons a {
        transform: scale(0.9)    
    }



    .tabs {
        padding-top: 50px;
    }

    .tabs__label{
        padding:10px 73px 10px 73px;
    }
    
    .tabs__radio:checked+.tabs__label:after{
        width: 184px; 
    }

    .tabs__content__wrap{
        padding-left: 84px;  
    }

    .tabs__content__wrap img {
        width: 398px;
    }

    .tabs__content__wrap h3{
        padding-top: 29px;
        padding-bottom: 71px;
        font-size: 24px;
        line-height: 33px;
        width: 482px;
    }

    .tabs__content__wrap p {
        font-size: 14px;
        line-height: 16px;
        width: 482px;
    }

    br {
        display: none;
    }

    .tabs__btn {
        margin-top:38px;
        width: 231px;
        height: 58px;
    }





    .awesome {
        margin-bottom: 60px;
    }

    .awesome__list {
        gap: 20px;
    }

    .awesome__title {
        font-size: 24px;
        line-height: 28px;
        padding-top: 110px;
    }

    .separator {
        width: 142px;
        margin: 32px auto;
    }

    .awesome__subtitle {
        margin-bottom: 65px;
        font-size: 14px;
        line-height: 16px;
    }

    .awesome__item {
        width: 317px;
    }


    .awesome__item__title {      
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 32px;
    }


    .awesome__item__circle, .awesome__img { 
        transform: scale(0.9);
        margin-bottom: 62px;
    }

    .awesome__item__subtitle {        
        font-size: 14px;
        line-height: 16px;
    }

    .awesome__item__subtitle span {
        display: block;
    }











    .pricing__title {
        font-size: 24px;
        line-height: 28px;
        padding-top: 95px;
    }

    .pricing__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 49px;
    }

    .pricing__list {
        gap: 20px;   
    }










    .feedback {
        padding-bottom: 59px;
    }

    .feedback__title {
        font-size: 24px;
        line-height: 28px;
        padding-top: 95px;
    }

    .feedback__subtitle{
        font-size: 14px;
        line-height: 16px;
    }

    .feedback__list {
        gap: 20px;
    }

    .feedback__item__text{
        font-size: 14px;
        line-height: 16px;
        padding: 0 26px;
    }

    .feedback__item .person {
        height: 63px;
        width: 63px;
    }

    .feedback__item__person__about p.who {
        font-size: 18px;
        line-height: 25px;
        margin-top: 10px;
    }

    .feedback__item__person__about p {
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }

    .feedback__item__text:after{
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 20px solid #E2E2E2;
        left: 61px;
        top: 180px;
    }





    .banner__title {
        font-size: 24px;
        line-height: 28px;
    }

    .banner__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .banner__btn {
        padding: 20px 114px;
    }






    .contact__title {
        font-size: 24px;
        line-height: 28px;
    }

    .contact__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .contact__form {
        gap: 20px;
    }

    .contact__btn {
        padding: 21px 98px;
    }




    .footer__icons {
        gap: 36px;
        transform: scale(0.85);
    }

    .footer__ending {
        font-size: 14px;
        line-height: 16px; 
    }
}




























    @media screen and (max-width:992px) {
    .container {
        width: 100%;
    }




    .header__all__logo img:first-child {
        width: 38px;
        height: 22px;
    }

    .header__all__logo img:last-child {
        width: 24px;
        height: 22px;
    }

    .header__all__navigation {
        display: none;
    }

    .header__burger {
        display: block;
        background: none;
        border: 0;
    }

    .burger__item {
        display: block;
        width: 24px;
        height: 3px;
        background-color: #fff;
        position: relative;
    }

    .burger__item::after,
    .burger__item::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .burger__item::after {
        bottom: -8px;
    }

    .burger__item::before {
        top: -8px;
    }









    .main {
        padding-bottom: 50px;
    }

    .main__content {
        display: block;
        text-align: center;
        padding-top: 84px;
    } 

    .main__content__logo {
        display: none;
    }

    .main__content__title {
        width: 552px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 43px;
    }

    .main__content__separator {
        margin: 0 auto;
        width: 172px;
    }

    .main__content__subtitle {
        width: 357px;
        padding-top: 42px;
        margin: 0 auto;
    }

    .main__content__btn {
        padding: 17px 134px;
        margin-top: 42px;
    }








    .form {
        width: 359px;
        height: 381px;
        background-color: #FFFFFF;
        margin-top: 0px;
        position: relative;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .form__title {
        font-size: 14px;
        line-height: 19px;
        margin-top: 56px;
        margin-bottom: 39px;
        padding-top: 37px;
    }

    .form__field {
        padding: 0 20px;
        width: 100%;
    }

    .form__btn {
        position: absolute;
        transform: translateX(-50%);
    }

    .form__field input {
        margin-left: -65px;
    }












    .media__content__text__title {
        font-size: 20px;
        line-height: 25px;
        width: 271px;
    }

    .media__content__text__subtitle {
        font-size: 17px;
        line-height: 17px;
        width: 275px;
    }

    .media__content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 46px 0;
    }

    .media__content__icons {
        justify-content: center;
        gap: 51px;
        transform: scale(0.7);
    }















    .tabs {
        padding-top: 41px;
    }

    .tabs__label{
        padding:10px 28px 10px 29px;
        margin: 0 auto
    }

    .tabs__radio:checked+.tabs__label:after{
        width: 96px; 
    }

    .tabs__content {
        padding-bottom: 30px;
    }

    .tabs__content__wrap{
        padding-left: 20px;  
        display: block;
    }

    .tabs__content__wrap img {
        display: none;
    }

    .tabs__content__wrap h3{
        text-align: center;
        padding-top: 34px;
        padding-bottom: 65px;
        font-size: 19px;
        line-height: 25px;
        width: 330px;
        margin: 0 auto;
    }

    .tabs__content__wrap p {
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        width: 371px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    br {
        display: none;
    }

    .tabs__btn {
        width: 286px;
        height: 58px;
        margin: 0 auto;
    }














    .awesome__title {
        font-size: 20px;
        line-height: 21px;
        padding-top: 49px;
    }

    .separator {
        width: 172px;
        margin: 25px auto;
    }

    .awesome__subtitle {
        font-size: 15px;
        line-height: 15px;
        width: 386px;
        margin: 0 auto;
        padding-bottom: 83px;
    }

    .awesome__list {
        flex-direction: column;
        gap: 31px;
    }

    .awesome__item {
        margin: 0 auto;
        width: 477px
    }

    .awesome__item__circle {
        margin-bottom: 12px;
    }










    .pricing {
        padding-bottom: 26px;
    }

    .pricing__title {
        padding-top: 47px;
    }

    .pricing__subtitle {
        width: 386px;
        margin: 0 auto;
        padding-bottom: 24px;
    }


    .pricing__list {
        flex-direction: column;
        gap: 27px;
    }

    .pricing__item {
        margin: 0 auto;
        width: 364px;
    }

    .pricing__item ul .pricing__item__first {
        font-size: 22px;
        line-height: 25px;
        height: 47px;
        line-height: 47px;

    }
    
    .pricing__item ul .pricing__item__second {
        font-size: 28px;
        line-height: 28px;
        height: 78px;
        line-height: 78px;
    }
    
    .pricing__item ul .pricing__item__third {
        font-size: 18px;
        line-height: 16px;
        height: 39px;
        line-height: 39px;
    }
    
    .pricing__item li {
        font-size: 18px;
        line-height: 16px;
        height: 39px;
        line-height: 39px;
    }
    
    .pricing__item:hover {
        transform: translateY(0px);
        box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.2);
    }




    .feedback {
        padding-bottom: 31px;
    }

    .feedback__title {
        width: 434px;
        margin: 0 auto;
    }

    .feedback__subtitle {
        width: 366px;
        margin: 0 auto;
        padding-bottom: 24px;
    }

    .feedback__item:first-child {
        display: none;
    }

    .feedback__item:last-child {
        display: none;
    }

    .feedback__item {
        width: 288px;
    }
    
    .feedback__item__text {
        padding: 0 9px;
    }

    .feedback__item__person img {
        transform: scale(1.1);
    }

    .feedback__item__person__about p.who {
        font-size: 18px;
        line-height: 19px;
    }

    .feedback__item__person__about p {
        font-size: 17px;
        line-height: 15px;
    }

    .feedback__dots {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 32px;
    }





















    .banner {
        padding-bottom: 50px;
    }

    .banner__separator {
        width: 172px;
    }

    .banner__title {
        padding-top: 48px;
        padding-bottom: 18px;
    }

    .banner__subtitle {
        width: 412px;
        margin: 0 auto;
    }

    .banner__btn {
        padding: 15px 125px;
        margin-top: 66px;
    }




















    .contact__title {
        margin-bottom: 26px;
        padding-top: 50px;
    }

    .contact__separator {
        width: 174px;
        margin: 24px auto;
    }

    .contact__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 361px;
        margin: 0 auto;
        padding-bottom: 64px;
    }

    .contact__form {
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .contact__form__message textarea {
        height: 182px;
    }

    .contact__form .left {
        width: 288px;
    }
    
    .contact__form .right {
        width: 288px;
    }

    .contact__btn {
        padding: 16px 107px;
    }











    .footer__icons {
        gap: 55px;
        transform: scale(0.8);
        padding-top: 15px;
        margin-bottom: 25px;
    }

    .footer__ending {
        padding-bottom: 45px;
    }

}





































@media screen and (max-width:576px) {
    .container {
        width: 100%;
    }


    .header__all {
        position: relative;
    }

    .header__all__logo img:first-child {
        width: 38px;
        height: 22px;
    }

    .header__all__logo img:last-child {
        width: 24px;
        height: 22px;
    }

    /* .header__all__navigation {
        display: none;
    } */

    .header__all__burger {
        display: block;
        position: absolute;
        top: 11px;
        right: 20px;
        width: 24px;
        height: 3px;
        cursor: pointer;
        background-color: #fff;
        z-index: 2;
    }

    .header__all__burger::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        top: -8px;
    }

    .header__all__burger::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        bottom: -8px;
    }

    .header__all__navigation {
        display:block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
        background-color: black;
        /* padding-bottom: 518px; */
    }

    .header__all__navigation__link {
        display: block;
        padding: 28px 110px;
        background-color: black;
        color: #fff;
        text-align: center;
    }

    #check_menu:checked ~ .header__all__navigation {
        max-height: 500px;
        padding-bottom: 518px;
    }
    

    /* .header__burger {
        display: block;
        background: none;
        border: 0;
    }

    .burger__item {
        display: block;
        width: 24px;
        height: 3px;
        background-color: #fff;
        position: relative;
    }

    .burger__item::after,
    .burger__item::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .burger__item::after {
        bottom: -8px;
    }

    .burger__item::before {
        top: -8px;
    } */









    .main {
        padding-bottom: 50px;
    }

    .main__content {
        display: block;
        text-align: center;
        padding-top: 84px;
    } 

    .main__content__logo {
        display: none;
    }

    .main__content__title {
        width: 288px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 43px;
    }

    .main__content__separator {
        margin: 0 auto;
    }

    .main__content__subtitle {
        width: 288px;
        padding-top: 42px;
        margin: 0 auto;
    }

    .main__content__btn {
        padding: 17px 100px;
        margin-top: 42px;
    }








    .form {
        width: 288px;
        height: 381px;
        background-color: #FFFFFF;
        margin-top: 0px;
        position: relative;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .form__title {
        font-size: 14px;
        line-height: 19px;
        margin-top: 56px;
        margin-bottom: 39px;
        padding-top: 37px;
    }

    .form__field {
        padding: 0 20px;
        width: 100%;
    }

    .form__btn {
        position: absolute;
        transform: translateX(-50%);
    }

    .form__field input {
        margin-left: -65px;
    }












    .media__content__text__title {
        font-size: 18px;
        line-height: 25px;
        width: 271px;
    }

    .media__content__text__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 271px;
    }

    .media__content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 46px 0;
    }

    .media__content__icons {
        justify-content: center;
        gap: 22px;
        transform: scale(0.38);
    }















    .tabs {
        padding-top: 41px;
    }

    .tabs__label{
        padding:10px 28px 10px 29px;
        margin: 0 auto
    }

    .tabs__radio:checked+.tabs__label:after{
        width: 96px; 
    }

    .tabs__content {
        padding-bottom: 30px;
    }

    .tabs__content__wrap{
        padding-left: 20px;  
        display: block;
    }

    .tabs__content__wrap img {
        display: none;
    }

    .tabs__content__wrap h3{
        text-align: center;
        padding-top: 34px;
        padding-bottom: 65px;
        font-size: 18px;
        line-height: 25px;
        width: 181px;
        margin: 0 auto;
    }

    .tabs__content__wrap p {
        text-align: center;
        font-size: 13px;
        line-height: 15px;
        width: 244px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    br {
        display: none;
    }

    .tabs__btn {
        width: 231px;
        height: 58px;
        margin: 0 auto;
    }














    .awesome__title {
        font-size: 18px;
        line-height: 21px;
        padding-top: 49px;
    }

    .separator {
        width: 134px;
        margin: 25px auto;
    }

    .awesome__subtitle {
        font-size: 13px;
        line-height: 15px;
        width: 288px;
        margin: 0 auto;
        padding-bottom: 83px;
    }

    .awesome__list {
        flex-direction: column;
        gap: 43px;
    }

    .awesome__item {
        margin: 0 auto;
        width: 284px
    }

    .awesome__item__circle {
        margin-bottom: 57px;
    }










    .pricing {
        padding-bottom: 26px;
    }

    .pricing__title {
        padding-top: 47px;
    }

    .pricing__subtitle {
        width: 288px;
        margin: 0 auto;
        padding-bottom: 24px;
    }


    .pricing__list {
        flex-direction: column;
        gap: 27px;
    }

    .pricing__item {
        margin: 0 auto;
        width: 288px;
    }

    .pricing__item ul .pricing__item__first {
        font-size: 18px;
        line-height: 25px;
        height: 47px;
        line-height: 47px;

    }
    
    .pricing__item ul .pricing__item__second {
        font-size: 24px;
        line-height: 28px;
        height: 78px;
        line-height: 78px;
    }
    
    .pricing__item ul .pricing__item__third {
        font-size: 14px;
        line-height: 16px;
        height: 39px;
        line-height: 39px;
    }
    
    .pricing__item li {
        font-size: 14px;
        line-height: 16px;
        height: 39px;
        line-height: 39px;
    }
    
    .pricing__item:hover {
        transform: translateY(0px);
        box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.2);
    }




    .feedback {
        padding-bottom: 31px;
    }

    .feedback__title {
        width: 288px;
        margin: 0 auto;
    }

    .feedback__subtitle {
        width: 288px;
        margin: 0 auto;
        padding-bottom: 24px;
    }

    .feedback__item:first-child {
        display: none;
    }

    .feedback__item:last-child {
        display: none;
    }

    .feedback__item {
        width: 288px;
    }
    
    .feedback__item__text {
        padding: 0 19px;
    }

    .feedback__item__person img {
        transform: scale(0.9);
    }

    .feedback__item__person__about p.who {
        font-size: 14px;
        line-height: 19px;
    }

    .feedback__item__person__about p {
        font-size: 13px;
        line-height: 15px;
    }

    .feedback__dots {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 32px;
    }





















    .banner {
        padding-bottom: 50px;
    }

    .banner__separator {
        width: 134px;
    }

    .banner__title {
        padding-top: 48px;
        padding-bottom: 18px;
    }

    .banner__subtitle {
        width: 288px;
        margin: 0 auto;
    }

    .banner__btn {
        padding: 15px 100px;
        margin-top: 66px;
    }




















    .contact__title {
        margin-bottom: 26px;
        padding-top: 50px;
    }

    .contact__separator {
        width: 134px;
        margin: 24px auto;
    }

    .contact__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        margin: 0 auto;
        padding-bottom: 64px;
    }

    .contact__form {
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .contact__form__message textarea {
        height: 182px;
    }

    .contact__form .left {
        width: 288px;
    }
    
    .contact__form .right {
        width: 288px;
    }

    .contact__btn {
        padding: 16px 81px;
    }














    .footer__icons {
        gap: 22px;
        transform: scale(0.52);
        padding-top: 15px;
        margin-bottom: 25px;
    }

    .footer__ending {
        padding-bottom: 45px;
    }

}
