body {
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    padding-top: 110px;
}

.separator {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 63px auto;
}










.header {
    background-color: #000000;
    padding: 22px 0;
}

.header__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__all__logo {
    margin-left: -55px;
}

.header__all__navigation__link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 35px 28px 30px 28px;
}

.header__all__navigation__link:hover {
    background: #EC7979;
}

.header__all__navigation__link:active {
    background: #AB4949;
}

.header__burger {
    display: none;
}
















.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main_bg.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 185px;
}

.main__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.main__content__text {
    flex-direction: column;
}

.main__content__logo {
    margin-top: 231px;
    margin-bottom: 73px;
}

.main__content__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 670px;
}

.main__content__separator {
    width: 170px;
    height: 1px;
    background-color:  #FFFFFF;
    margin-top: 55px;
    margin-bottom: 42px;
}

.main__content__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.main__content__btn {
    padding: 21px 91px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid #FFFFFF;
}

.main__content__btn:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.main__content__btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}



.form {
    width: 470px;
    height: 450px;
    background-color: #FFFFFF;
    margin-top: 208px;
    border-radius: 10px;
    position: relative;
}

.form__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333333;
    margin-top: 35px;
    margin-bottom: 82px;
    text-transform: uppercase;
}

.form__title span {
    color: #EC7979;
}

.form__field {
    padding: 0 50px;
    width: 100%;
}

.form__line {
    border: 1px solid #BDBDBD;
    width: 100%;
    margin-bottom: 33px;
}

.form__field input[type="text"],
.form__field input[type="password"],
.form__field input[type="email"] {
    font-family: 'Open Sans';
    font-size: 14px;
}

.form__field input::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400
}

.form__field input {
    margin-bottom: 16px;
    outline: none;
    border: none;
}

.form__btn {
    background: #EC7979;
    width: 100%;
    height: 60px;
    border: none;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
}

.form__btn:hover {
    background: #AB4949;
}

.form__btn:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}











.media {
    background-color: #F8EFEF;
}

.media__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.media__content__text__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    margin-bottom: 18px;
}

.media__content__text__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    width: 470px;
}

.media__content__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
}










.tabs{
    display: flex;
    flex-wrap: wrap ;
    padding-top: 100px;
}

.tabs__label{
    text-align: center;
    align-items: center;
    padding:10px 73px 10px 73px;
    cursor:pointer;
    color:#333333;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.tabs__radio{
    display:none;
}

.tabs__content{
    order: 1;
    width: 100%;
    display: none;
    border: 1px #C6CBCD solid;
}

.tabs__radio:checked+.tabs__label{
    
    color:#333333;
    border-top: 1px #C6CBCD solid;
    border-left:  1px #C6CBCD solid;
    border-right: 1px #C6CBCD solid; ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.tabs__radio:checked+.tabs__label+.tabs__content{
    display:initial;

}

.tabs__radio:checked+.tabs__label:after{
    content:'';
    display: block;
    width: 185px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: -1px;
    left: 0px;
}

.tabs__content__wrap{
    display:flex;
    justify-content: space-between;
    padding-left: 100px;  
}

.tabs__content__wrap h3{
    width: 570px;
    padding-top: 45px;
    padding-bottom: 76px;
}

.tabs__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.tabs__text span{
    display: block;
}

.space{
    padding-top:20px;
}

.tabs__content__wrap  h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.tabs__content__wrap img {
    height: 100%;
}

.tabs__btn{
    font-family: 'Open Sans';
    font-weight: 600;
    background-color: #EC7979;
    margin-top:27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
    width: 270px;
    height: 58px;
    color: #FFFFFF;
    text-decoration: none;
}

.tabs__btn:hover{
    border-color: #AB4949 ;
    background-color:  #AB4949;
    color:#FFFFFF;
}

.tabs__btn:active{
    background-color: #EC7979;
    border:none;
    color:#FFFFFF;
    box-shadow: inset 0px 0px 10px #AB4949;
}










.awesome {
    margin-bottom: 58px;
}

.awesome__subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin-bottom: 110px;
}

.awesome__item__circle {
    width: 90px; 
    height: 90px; 
    border-radius: 92px;
    border: 1px solid #EC7979;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.awesome__item__circle .awesome__img {
    display: block;
    margin: auto;  
    
}

.awesome__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.awesome__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 370px;
}

.awesome__item__title {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Open Sans';
    text-align: center;
    display: flex;
    margin-bottom: 45px;
}

.awesome__item__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}













.pricing {
    background: #F5F5F5;
    padding-bottom: 50px;   
}

.pricing__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 79px;
}

.pricing__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;   
}

.pricing__item {
    width: 33.333333%;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.pricing__item ul {
    list-style-type: none;
} 

.pricing__item ul .pricing__item__first {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans';
    color: #FFFFFF;
    background: #333333;
    margin: 2px auto;
    height: 60px;
    line-height: 60px;
    align-items: center;
    padding-left: -40px;
}

.pricing__item ul .pricing__item__second {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    background: #333333;
    margin: 2px auto;
    height: 100px;
    line-height: 100px;
}

.pricing__item ul .pricing__item__third {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    margin: 2px auto;
    height: 50px;
    line-height: 50px;
}

.pricing__item li {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    background: #FFFFFF;
    margin: 2px auto;
    height: 50px;
    line-height: 50px;
}

.pricing__item:hover {
    transform: translateY(-20px);
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}












.feedback {
    padding-bottom: 64px;
}

.feedback__subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    padding-bottom: 83px;
}

.feedback__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feedback__item__text{
    height: 180px;
    display: flex;
    align-items: center;
    background: #E2E2E2;
    color: #86878B;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

.feedback__item__person {
    display: flex;
    gap: 30px;
    margin-top: 46px;
}

.feedback__item .person {
    height: 70px;
    width: 70px;
}

.feedback__item__person__about{
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

.feedback__item__person__about p.who {
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 33px;
    margin-top: 10px;
}

.feedback__item__person__about p {
    font-size: 18px;
    line-height: 21px;
    margin-top: 22px;
}


.feedback__item__text:after{
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    content: '';
    position: absolute;
    left: 70px;
    top: 180px;
}

.feedback__dots {
    display: none;
}











.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 50px;
}

.banner__title {
    color: #FFFFFF;
}

.banner__separator {
    background-color:  #FFFFFF;
}

.banner__subtitle {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 73px;
    line-height: 21px;
}

.banner__btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid #FFFFFF;
    padding: 22px 142px;
    margin: 0 auto;
    display: block;
}

.banner__btn:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner__btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}










.contact {
    padding-bottom: 50px;
}

.contact__separator {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 40px auto;
}

.contact__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 89px;
}

.contact__line {
    border: 1px solid #BDBDBD;
    margin-bottom: 50px;
}

.contact__form {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact__form .left {
    width: 571px;
}

.contact__form .right {
    width: 569px;
}

.contact__form__login input[type="text"],
.contact__form__login input[type="password"],
.contact__form__login input[type="email"],
.contact__form__message textarea {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
}

.contact__form__login input::placeholder, 
.contact__form__message textarea::placeholder {
    color: #BDBDBD;
}

.contact__form__message textarea {
    height: 205px;
    overflow: hidden;
    width: 100%;
    outline: none;
    border: none;
    resize : none;
}


.contact__form__login input {
    margin-bottom: 16px;
    outline: none;
    border: none;
}

.contact__btn {
    margin: 0 auto;
    display: block;
    padding: 21px 125px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: #EC7979;
    border: none;
}

.contact__btn:hover {
    background: #AB4949;
}

.contact__btn:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}








footer {
    background: #000000;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 44px;
    padding-top: 42px;
    margin-bottom: 34px;
    align-items: center;
}

.footer__ending {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 18px;
    padding-bottom: 27px;
}