body {
    font-family: 'Raleway', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    padding-top: 110px;
}
.separator {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 63px auto;
}










.header {
    background-color: #000000;
    padding: 22px 0;
}

.header__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__all__logo {
    margin-left: -55px;
}



.header__all__navigation__link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 35px 28px 30px 28px;
}

.header__all__navigation__link:hover {
    background: #EC7979;
}

.header__all__navigation__link:active {
    background: #AB4949;
}










.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main_bg.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 185px;
}

.main__content {
    display: flex;
    gap: 32px;
}

.main__content__text {
    flex-direction: column;
}

.main__content__logo {
    margin-top: 231px;
    margin-bottom: 73px;
}

.main__content__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__content__separator {
    width: 170px;
    height: 1px;
    background-color:  #FFFFFF;
    margin-top: 55px;
    margin-bottom: 42px;
}

.main__content__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.main__content__btn {
    padding: 21px 91px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid #FFFFFF;
}

.main__content__btn:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.main__content__btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}



.form {
    width: 470px;
    height: 450px;
    background-color: #FFFFFF;
    margin-top: 208px;
}












.awesome {
    margin-bottom: 58px;
}

.awesome__subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin-bottom: 110px;
}

.awesome__item__circle {
    width: 90px; 
    height: 90px; 
    border-radius: 92px;
    border: 1px solid #EC7979;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.awesome__item__circle .awesome__img {
    display: block;
    margin: auto;  
    
}

.awesome__list {
    display: flex;
}

.awesome__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.awesome__item__title {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Open Sans';
    text-align: center;
    display: flex;
    margin-bottom: 45px;
}

.awesome__item__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}










.pricing {
    background: #F5F5F5;
    padding-bottom: 50px;   
}

.pricing__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 79px;
}

.pricing__list {
    display: flex;
    justify-content: center;
    
}

.pricing__item {
    width: 33.333333%;
}

.pricing__item ul {
    list-style-type: none;
    margin-left: -40px;
} 

.pricing__item ul .pricing__item__first {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans';
    color: #FFFFFF;
    background: #333333;
    margin: 2px auto;
    width: 370px;
    height: 60px;
    line-height: 60px;
    align-items: center;
    padding-left: -40px;
}

.pricing__item ul .pricing__item__second {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    background: #333333;
    margin: 2px auto;
    width: 370px;
    height: 100px;
    line-height: 100px;
}

.pricing__item ul .pricing__item__third {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
    margin: 2px auto;
    width: 370px;
    height: 50px;
    line-height: 50px;
}

.pricing__item li {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    background: #FFFFFF;
    margin: 2px auto;
    width: 370px;
    height: 50px;
    line-height: 50px;
}

.pricing__item:hover {
    transition: 0.2s;
    transform: translateY(-20px);
}










.feedback {
    padding-bottom: 64px;
}

.feedback__subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    padding-bottom: 83px;
}

.feedback__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feedback__item__text{
    width: 370px;
    height: 180px;
    display: flex;
    align-items: center;
    background: #E2E2E2;
    color: #86878B;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

.feedback__item__person {
    display: flex;
    gap: 30px;
    margin-top: 46px;
}

.feedback__item .person {
    height: 70px;
    width: 70px;
}

.feedback__item__person__about{
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

.feedback__item__person__about p.who {
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 33px;
    margin-top: 10px;
}

.feedback__item__person__about p {
    font-size: 18px;
    line-height: 21px;
    margin-top: 22px;
}


.feedback__item__text:after{
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    content: '';
    position: absolute;
    left: 70px;
    top: 180px;
}







.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 50px;
}

.banner__title {
    color: #FFFFFF;
}

.banner__separator {
    background-color:  #FFFFFF;
}

.banner__subtitle {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 73px;
    line-height: 21px;
}

.banner__btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid #FFFFFF;
    padding: 22px 142px;
    margin: 0 auto;
    display: block;
}

.banner__btn:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner__btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}










footer {
    background: #000000;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 44px;
    padding-top: 42px;
    margin-bottom: 34px;
}

.footer__ending {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 18px;
    padding-bottom: 27px;
}